@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import 'tailwindcss';

* {
    font-family: 'Lilita One', sans-serif;
}

@theme {
    --color-primary: #bf0804;
    --color-success: #04a777;
    --color-warning: oklch(70.5% 0.213 47.604);
    --color-yellow: #ffde59;
}
